@import url('https://fonts.googleapis.com/css2?family=Playwrite+IS&display=swap');

body {
    box-sizing: border-box;
    font-family: "Playwrite IS", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}

a {
    text-decoration: none;
}



h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}